    <!--_________________________________________________________Header____________________________________________________________-->
    <div class="vtp-mobile-menu-overlay dts-hide-pc"></div>
    <div class="vtp-header-left-block">
        <img class="vtp-header-left-block-logo" src="images/logoNormal.png" alt="logo">
        <ul class="clearfix">
            <li>
                <a class="active">Trrrang chủ</a>
            </li>
            <li>
                <a>Dịch vụ</a>
            </li>
            <li>
                <a>Hỗ trợ</a>
            </li>
            <li>
                <a data-toggle="modal" data-target="#vtpLogin">
                    Đăng nhập
                </a>
            </li>
        </ul>
    </div>
    <div class="vtp-header col-xs-12">
        <div class="vtp-header-mobile row">
            <a class="vtp-mobile-menu-icon" href="javascript:void(0)">
                <i class="fas fa-bars"></i>
            </a>
            <a class="dts-header-left-block-logo-mobile" href="javascript:void(0)">
                <img class="dts-header-left-block-logo" src="images/logoNormal.png" alt="logo">
            </a>
            <a class="btn btn-login-mobile">Đăng ký</a>
        </div>
        <div class="vtp-header-left">
            <img class="dts-header-left-block-logo" src="images/logoNormal.png" alt="logo" />
        </div>
        <div class="vtp-header-middle">
            <ul class="clearfix">
                <li>
                    <a class="active">Trang chủ</a>
                </li>
                <li>
                    <a>Dịch vụ</a>
                </li>
                <li>
                    <a>Hỗ trợ</a>
                </li>
            </ul>
        </div>
        <div class="vtp-header-right">
            <ul class="clearfix">
                <li class="hotline">
                    <span class="clearfix">Hot line</span>
                    <a href="callto:19008095">19008095</a>
                </li>
                <li class="personal-login">
                    <img src="images/icon/ViewFront/login.svg" /><a data-toggle="modal" data-target="#vtpLogin">Đăng nhập</a>
                </li>
                <li>
                    <a class="btn btn-login hvr-bounce-to-right">Đăng ký sử dụng</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    <!--______________________________________________________Footer top____________________________________________________________-->
    <div class="vtp-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 intro">
                    <img class="img-responsive hidden-sm hidden-xs" src="images/ViettelPostNormal_1.png" alt="logoViettelPost" />
                    <ul class="social-item">
                        <li>
                            <a>
                                <img class="img-responsive" src="images/facebook.png" alt="facebook" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img class="img-responsive" src="images/twitter.png" alt="twitter" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img class="img-responsive" src="images/insta.png" alt="instagram" />
                            </a>
                        </li>
                    </ul>
                    <div class="clear-0"></div>
                    <div class="description hidden-sm hidden-xs">
                        Viettel Post là doanh nghiệp hàng đầu cung cấp dịch vụ chuyển phát nhanh hàng hoá, bưu kiện trong nước, quốc tế tại Việt Nam. Với mạng lưới khắp 63 tỉnh thành trong nước
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4 class="small-title">Trợ giúp</h4>
                    <ul class="footer-list-item">
                        <li>
                            <a>Đăng ký đại lý thu gom  </a>
                        </li>
                        <li>
                            <a>
                                Tư vấn dịch vụ
                            </a>
                        </li>
                        <li>
                            <a>
                                Vận tải nguyên chuyển
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4 class="small-title">Dịch vụ</h4>
                    <ul class="footer-list-item">
                        <li class="hot">
                            <a>Dịch vụ vận tải</a>
                        </li>
                        <li>
                            <a>Đăng ký đại lý thu gom  </a>
                        </li>
                        <li>
                            <a>
                                Tư vấn dịch vụ
                            </a>
                        </li>
                        <li>
                            <a>
                                Vận tải nguyên chuyển
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 email-address">
                    <h4 class="big-title">Đăng ký để nhận những thông tin mới nhất</h4>
                    <div class="info">
                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                    </div>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nhập email của bạn" />
                        <a><img class="img-responsive" src="images/Group22Normal.png" alt="email icon" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear-0"></div>

    <!--______________________________________________________Footer bottom_________________________________________________________-->
    <div class="vtp-footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                <a class="hotline" href="callto:19008095">
                    Hotline: 19008095
                </a>
                <a>
                    Khiếu nại
                </a>
            </div>
            <div class="footer-bottom-right">
                <span>
                    Copyright © 2018 BeauAgency. All Rights Reserved.
                </span>
            </div>
        </div>

    </div>
    <!--_______________________________________________________________________________________________________________________-->
