

<!--_________________________________________________________________________________________________________________-->
<!--_________________________________________________________________________________________________________________-->
<div class="vtp-mobile-menu-overlay dts-hide-pc"></div>

<div class="clear-top"></div>
    <!--___________________________________________Service banner________________________________________________________-->
    <div class="vtp-service-banner">
        <img class="img-responsive" src="/assets/images/bg-detail.png" alt="slide-image" />
        <div class="item container">
            <div class="content">
                <h2 class="title">
                    Dịch vụ chuyển phát hỏa tốc
                </h2>
                <div class="description">
                    Là dịch vụ nhận gửi, vận chuyển và phát nhanh chứng từ hàng hóa, vật phẩm có thứ tự ưu tiên cao nhất trong các dịch vụ chuyển phát với chỉ tiêu thời gian toàn trình không quá 24 giờ.
                </div>
            </div>
        </div>
    </div>
    <div class="clear-0"></div>
    <!--______________________________________________________________________Service benifit_______________________________________________________________________________________________-->
    <div class="vtp-service-benefit wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6 item">
                    <h2 class="title">Vì sao nên chọn dịch vụ chuyển phát hỏa tốc VHT</h2>
                    <div class="description">
                        Là dịch vụ nhận gửi , vận chuyển và phát nhanh chứng từ hàng hoá vật phẩm có thứ tự ưu tiên cao nhất trong các dịch vụ chuyển phát với chỉ tiêu thời gian toàn trình không quá 24 giờ . Theo đó bưu phẩm được tổ chức khai thác , Vận chuyển ngay sau khi được chấp nhận
                    </div>
                    <a class="btn btn-register hvr-bounce-to-right">Đăng ký ngay</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6 item">
                    <img class="img-responsive" src="/assets/images/Rectangle 3Normal.png" alt="box-item-image">
                </div>
                <div class="col-xs-12 col-sm-6 item">
                    <h2 class="title">Phạm vi cung cấp dịch vụ và dịch vụ cộng thêm</h2>
                    <div class="description color-88">
                        Ngoài dịch vụ chuyển phát nhanh trong nước khách hàng còn có nhu cầu sử dụng các dịch vụ gia tăng công thêm sau:
                        <ul>
                            <li>
                                Bảo hiểm
                            </li>
                            <li>
                                Bảo hiểm
                            </li>
                            <li>
                                Bảo hiểm
                            </li>
                            <li>
                                Bảo hiểm
                            </li>

                            <li>
                                Bảo hiểm
                            </li>
                            <li>
                                Bảo hiểm
                            </li>
                            <li>
                                Bảo hiểm
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 item">
                    <img class="img-responsive" src="/assets/images/Rectangle 3Normal.png" alt="box-item-image">
                </div>
            </div>
        </div>
    </div>
    <!--______________________________________________________________________Services price section____________________________________________________________________________-->
    <div class="vtp-services-price wow fadeIn">
        <div class="container">
            <h2 class="title">Bảng cước giá dịch vụ chuyển phát hỏa tốc</h2>
            <div class="table-responsive">
                <table class="table  table-price table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Khu vực
                            </th>
                            <th>
                                Trọng lượng
                            </th>
                            <th>
                                Hà Nội
                            </th>
                            <th>
                                Hồ Chí Minh

                            </th>
                            <th>
                                Đà Nẵng
                            </th>
                            <th>
                                Tỉnh cách Hà Nội < 100km
                            </th>
                            <th>
                                Tỉnh cách thành phố HCM < 100km
                            </th>
                            <th>
                                Tỉnh bay thẳng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">Hà Nội</td>
                            <td>2kg đầu</td>
                            <td>30000</td>
                            <td>150000</td>
                            <td>120000</td>
                            <td>70000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>0.5 cân tiếp theo</td>
                            <td>30000</td>
                            <td>12000</td>
                            <td>10000</td>
                            <td>7000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Hồ Chí Minh</td>
                            <td>2kg đầu</td>
                            <td>30000</td>
                            <td>150000</td>
                            <td>120000</td>
                            <td>70000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>0.5 cân tiếp theo</td>
                            <td>30000</td>
                            <td>12000</td>
                            <td>10000</td>
                            <td>7000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Tỉnh cách Hà Nội 100km</td>
                            <td>2kg đầu</td>
                            <td>30000</td>
                            <td>150000</td>
                            <td>120000</td>
                            <td>70000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>0.5 cân tiếp theo</td>
                            <td>30000</td>
                            <td>12000</td>
                            <td>10000</td>
                            <td>7000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Tỉnh cách thành phố Hồ Chí Minh 100km</td>
                            <td>2kg đầu</td>
                            <td>30000</td>
                            <td>150000</td>
                            <td>120000</td>
                            <td>70000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>0.5 cân tiếp theo</td>
                            <td>30000</td>
                            <td>12000</td>
                            <td>10000</td>
                            <td>7000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Đà Nẵng</td>
                            <td>2kg đầu</td>
                            <td>30000</td>
                            <td>150000</td>
                            <td>120000</td>
                            <td>70000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr>
                            <td>0.5 cân tiếp theo</td>
                            <td>30000</td>
                            <td>12000</td>
                            <td>10000</td>
                            <td>7000</td>
                            <td>165000</td>
                            <td>150000</td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="clear-0"></div>
    <!--___________________________________________Other services section____________________________________________-->
    <div class="vtp-list-service-other wow fadeIn">
        <div class="container">
            <h2 class="title">Các dịch vụ khác</h2>
            <div class="vtp-list-service-tab">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2>
                                        <a>
                                            Dịch vụ chuyển phát nhanh (VCN)
                                        </a>
                                    </h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Chỉ tiêu thời gian toàn trình của dịch vụ Chuyển phát Nhanh</a></h2>
                                    <div class="description">
                                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát 36 giờ (V36)</a></h2>
                                    <div class="description">
                                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ 60h (V60)</a></h2>
                                    <div class="description">
                                        Là dịch vụ nhận gửi, vận chuyển và phát nhanh chứng từ hàng hóa, vật phẩm có thứ tự ưu tiên cao...
                                    </div>

                                </div>

                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--_______________________________________________________________________________________________________________________-->
