<div class="row">
  <div class=" col-md-12">
    <div class="portlet light portlet-fit portlet-datatable">
      <div class="portlet-title portlet-title-action ">
        <div class="actions">
          <a href="javascript:;" class="btn btn-circle blue-steel btn-outline" (click)="onShowAddOrChangeForm('')">
            <i class="fa fa-plus"></i> Add new </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <form (ngSubmit)="search()" #f="ngForm" autocomplete="off">
            <table class="table table-striped table-bordered table-hover table-checkable">
              <thead>
                <tr role="row" class="heading">
                  <th>
                    Identity
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Attributes
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
                <tr role="row" class="filter">
                  <td>
                  </td>
                  <td>
                    <div>
                      <input type="text" class="form-control form-filter input-sm" name="name" [(ngModel)]="name" maxlength="150" />
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div>
                      <select class="form-control form-filter input-sm" [(ngModel)]="status" name="status">
                        <option *ngFor="let item of statuses" [ngValue]="item.value">{{item.text}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="margin-bottom-5">
                      <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit">
                        <i class="fa fa-search"></i> Search</button>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let variationtheme of variationThemes | paginate: {itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRow } ; let i = index;let last = last">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{variationtheme.variationThemeName}}
                  </td>
                  <td>
                    {{variationtheme.attributeNamesDisplay}}
                  </td>
                  <td>
                    {{variationtheme.statusName}}
                  </td>
                  <td>
                    <a href="javascript:;" class="btn btn-circle btn-outline blue" *ngIf="!variationtheme.isUsed" (click)="onShowAddOrChangeForm(variationtheme.variationThemeId)">
                      <i class="fa fa-pencil"> Change </i>
                    </a>
                    <a href="javascript:;" class="btn btn-circle btn-outline blue" (click)="onActive(variationtheme.variationThemeId)">
                      <i class="fa fa-cross"> Active </i>
                    </a>                    
                    <button type="button" class="btn btn-circle btn-outline red fa fa-remove template_remove_bs_confirmation" data-toggle="confirmation"
                      attr.tmpindex="{{variationtheme.variationThemeId}}">
                      <span *ngIf="last">{{onRegisterConfirmation()}}</span>
                      Remove
                    </button>
                    <a href="javascript:;" class="btn btn-circle btn-outline green" (click)="onShowChangeAttributeForm(variationtheme.variationThemeId)">
                      <i class="fa fa-plus"> Attributes </i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup">
  <app-variation-theme-add-or-change #variationThemeEdit (reloadVariationThemes)="search()"></app-variation-theme-add-or-change>
  <app-variation-them-attribute #attributeForm (reloadVariationThemes)="search()"></app-variation-them-attribute>
</div>
