    <!--_________________________________________________________________________________________________________________-->
    <div class="vtp-mobile-menu-overlay dts-hide-pc"></div>
    <div class="clear-top"></div>
    <!--___________________________________________Service banner________________________________________________________-->
    <div class="vtp-check-order">
        <div class="container">
            <div class="section-check-code">
                <div class="left-box">
                    <img class="img-responsive" src="/assets/images/ico-check-big.png" alt="ico-check-order-big" />
                    <h2>Kiểm tra đơn hàng</h2>
                </div>
                <div class="right-box">
                    <span>Mã theo dõi đơn hàng</span>
                    <div class="input-group">
                        <input class="form-control input-order" [(ngModel)]="order_code" (keyup.enter)="searchOrder()" placeholder="Nhập mã đơn hàng cần tìm"/>
                        <a class="btn btn-search" (click)="searchOrder()">Tìm kiếm</a>
                    </div>
                    <h5 class="text-danger">
                        {{  message }}
                    </h5>
                </div>
            </div>
        </div>

        <div class="clear-0"></div>
    </div>
    <div class="clear-0"></div>



    <!--____________________________________________Information of order_________________________________________________-->
    <div class="vtp-check-order vtp-services-price wow fadeIn" *ngIf="OrderJourney != null || OrderJourney != undefined">
        <div class="container">
            <h2 class="title">Trạng thái đơn hàng</h2>
            <div class="row">
                <div class="col-xs-6 col-sm-2">
                    <ul class="list-unstyled">
                        <li><strong>Mã đơn hàng</strong></li>
                        <li><strong>Khối lượng</strong></li>
                        <li><strong>Tên dịch vụ</strong></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <ul class="list-unstyled">
                        <li>{{ OrderJourney.orderNumber }} </li>
                        <li>{{ OrderJourney.weight }} gram</li>
                        <li>{{ OrderJourney.serviceName }}</li>
                    </ul>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table  table-price table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Ngày
                            </th>
                            <th>
                                Giờ
                            </th>
                            <th>
                                Trạng thái
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-track [ngForOf]="ListTracking">
                            <tr>
                                <!-- <td>{{ track.ORDER_NUMBER }}</td>
                                <td>{{ OrderJourney.weight }}</td> -->
                                <td>{{ track.ORDER_STATUSDATE.split(' ')[0] }}</td>
                                <td>{{ track.ORDER_STATUSDATE.split(' ')[1] }}</td>
                                <td>{{ track.STATUS_NAME.substring(21) }}</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!--_______________________________________________Footer____________________________________________________________-->
    <div class="vtp-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 intro">
                    <img class="img-responsive hidden-sm hidden-xs" src="/assets/images/ViettelPostNormal_1.png" alt="logoViettelPost" />
                    <ul class="social-item">
                        <li>
                            <a>
                                <img class="img-responsive" src="/assets/images/facebook.png" alt="facebook" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img class="img-responsive" src="/assets/images/twitter.png" alt="twitter" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img class="img-responsive" src="/assets/images/insta.png" alt="instagram" />
                            </a>
                        </li>
                    </ul>
                    <div class="clear-0"></div>
                    <div class="description hidden-sm hidden-xs">
                        Viettel Post là doanh nghiệp hàng đầu cung cấp dịch vụ chuyển phát nhanh hàng hoá, bưu kiện trong nước, quốc tế tại Việt Nam. Với mạng lưới khắp 63 tỉnh thành trong nước
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4 class="small-title">Trợ giúp</h4>
                    <ul class="footer-list-item">
                        <li>
                            <a>Đăng ký đại lý thu gom  </a>
                        </li>
                        <li>
                            <a>
                                Tư vấn dịch vụ
                            </a>
                        </li>
                        <li>
                            <a>
                                Vận tải nguyên chuyển
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4 class="small-title">Dịch vụ</h4>
                    <ul class="footer-list-item">
                        <li class="hot">
                            <a>Dịch vụ vận tải</a>
                        </li>
                        <li>
                            <a>Đăng ký đại lý thu gom  </a>
                        </li>
                        <li>
                            <a>
                                Tư vấn dịch vụ
                            </a>
                        </li>
                        <li>
                            <a>
                                Vận tải nguyên chuyển
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 email-address">
                    <h4 class="big-title">Đăng ký để nhận những thông tin mới nhất</h4>
                    <div class="info">
                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                    </div>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nhập email của bạn" />
                        <a><img class="img-responsive" src="/assets/images/Group22Normal.png" alt="email icon" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear-0"></div>
    <!--______________________________________________Footer bottom__________________________________________________-->
    <div class="vtp-footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                <a class="hotline" href="callto:19008095">
                    Hotline: 19008095
                </a>
                <a>
                    Khiếu nại
                </a>
            </div>
            <div class="footer-bottom-right">
                <span>
                    Copyright © 2018 BeauAgency. All Rights Reserved.
                </span>
            </div>
        </div>

    </div>
    <!--_______________________________________________________________________________________________________________________-->
