.portlet-title-action {
    border: 0 !important;
    margin: 15px 25px 0 0 !important;
    padding: 0 !important;
}

.alert {
    z-index: 100000 !important;
}

.full-content {
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
    color: #999;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: 3px solid #36c6d3;
}

.blockUI {
    z-index: 11000 !important;
}

.text-left {
    text-align: left !important;
}

.select2 {
    width: 100% !important;
}

.mb-10 {
    margin-bottom: 10px;
}

select.form-control {
    height: 48px !important;
}

.list-fee {
    font-size: 13px;
}
