
    <!--_________________________________________________________________________________________________________________-->
    <div class="vtp-mobile-menu-overlay dts-hide-pc"></div>
    <div class="clear-top"></div>
    <!--___________________________________________Service banner________________________________________________________-->
    <div class="vtp-service-banner">
        <img class="img-responsive" src="/assets/images/BitmapNormal.png" alt="slide-image" />
        <div class="item container">
            <div class="content">
                <h2 class="title">
                    Hệ thống của bạn có nhiều cửa hàng ?
                </h2>
                <div class="description">
                    Bằng cách sử dụng dịch vụ của chúng tôi có thể giúp bạn quản lý đơn hàng và quản lý dòng tiền nhanh hơn và tiện lợi hơn
                </div>
                <a class="btn btn-register hvr-bounce-to-right">Đăng ký sử dụng</a>
            </div>
        </div>
    </div>
    <div class="clear-0"></div>
    <!--___________________________________________Services slider section___________________________________________-->
    <div class="vtp-list-service-slider">
        <div class="container">
            <h2 class="title">Các dịch vụ nổi bật</h2>
            <div class="vtp-list-service-item row">
                <div class="item col-xs-12 col-sm-3">
                    <a href="/detail">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-oval" src="/assets/images/oval2.png" alt="box-item-image">
                            <img class="img-responsive grey-oval" src="/assets/images/oval4.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ hoả tốc
                        </div>
                    </div>
                    </a>
                </div>
                <div class="item col-xs-12 col-sm-3">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-rec" src="/assets/images/rec3.png" alt="box-item-image">
                            <img class="img-responsive grey-rec" src="/assets/images/rec2.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ chuyển thư tín
                        </div>
                    </div>
                </div>
                <div class="item col-xs-12 col-sm-3">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-rec" src="/assets/images/rec3.png" alt="box-item-image">
                            <img class="img-responsive grey-rec" src="/assets/images/rec2.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ phát hàng thu tiền (COD)
                        </div>
                    </div>
                </div>
                <div class="item col-xs-12 col-sm-3">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-oval" src="/assets/images/oval2.png" alt="box-item-image">
                            <img class="img-responsive grey-oval" src="/assets/images/oval4.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ hoả tốc
                        </div>
                    </div>
                </div>
                <div class="item col-xs-12 col-sm-3">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-oval" src="/assets/images/oval2.png" alt="box-item-image">
                            <img class="img-responsive grey-oval" src="/assets/images/oval4.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ hoả tốc
                        </div>
                    </div>
                </div>
                <div class="item col-xs-12 col-sm-3">
                    <div class="content hvr-sweep-to-left">
                        <div class="image">
                            <img class="img-responsive white-oval" src="/assets/images/oval2.png" alt="box-item-image">
                            <img class="img-responsive grey-oval" src="/assets/images/oval4.png" alt="box-item-image">
                            <img class="img-responsive green-oval" src="/assets/images/oval3.png" alt="box-item-image">
                        </div>
                        <div class="description">
                            Dịch vụ hoả tốc
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear-0"></div>
    <!--___________________________________________Other services section____________________________________________-->
    <div class="vtp-list-service-other">
        <div class="container">
            <h2 class="title">Các dịch vụ khác</h2>
            <div class="vtp-list-service-tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">Chuyển phát trong nước</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">Chuyển phát quốc tế</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">Dịch vụ logistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab4" role="tab" data-toggle="tab">Hướng dẫn sử dụng</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2>
                                        <a>
                                            Dịch vụ chuyển phát nhanh (VCN)
                                        </a>
                                    </h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Chỉ tiêu thời gian toàn trình của dịch vụ Chuyển phát Nhanh</a></h2>
                                    <div class="description">
                                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát 36 giờ (V36)</a></h2>
                                    <div class="description">
                                        Để lại email của bạn để chúng tôi có thể gửi cho bạn những thông tin về ứng dụng cũng như các bài viết
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ 60h (V60)</a></h2>
                                    <div class="description">
                                        Là dịch vụ nhận gửi, vận chuyển và phát nhanh chứng từ hàng hóa, vật phẩm có thứ tự ưu tiên cao...
                                    </div>

                                </div>

                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                            <div class="item col-xs-12 col-sm-6 col-md-3">
                                <div class="image">
                                    <img class="img-responsive" src="/assets/images/recBig.png" alt="box-item-image">
                                </div>
                                <div class="content">
                                    <h2><a>Dịch vụ chuyển phát nhanh (VCN)</a></h2>
                                    <div class="description">
                                        Là dịch vụ chuyển phát tiết kiệm chứng từ hàng hóa, vật phẩm bằng đường bộ thời gian chuyển phát tính theo ngày
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">bbb</div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">ccc</div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear-0"></div>
    <!--_______________________________________________________________________________________________________________________-->
